# setup

In [1]:
import os

# isso aqui Ã© so sair da pasta de reproducao
if os.getcwd().split('/')[-1] == 'reproducao' or os.getcwd().split('\\')[-1] == 'reproducao':
    os.chdir('..')
    print(os.getcwd())

c:\Users\Pichau\Documents\git\lesaude\strodthoff2024prospects\src

In [2]:
import argparse
import pandas as pd
import numpy as np

from pathlib import Path
from tqdm.auto import tqdm
from icdmappings import Mapper

In [3]:
from extract_headers import extract_and_open_files_in_zip
# from ecg_utils import prepare_mimicecg
from reproducao_ecg_utils import prepare_mimicecg
from clinical_ts.timeseries_utils import reformat_as_memmap
from utils.stratify import stratified_subsets
from mimic_ecg_preprocessing import prepare_mimic_ecg

# parser

In [4]:
parser = argparse.ArgumentParser(description='A script to extract two paths from the command line.')

parser.add_argument('--mimic-path', help='path to mimic iv folder with subfolders hosp and ed',default="./mimic")
parser.add_argument('--zip-path', help='path to mimic ecg zip',default="mimic-iv-ecg-diagnostic-electrocardiogram-matched-subset-1.0.zip")
parser.add_argument('--target-path', help='desired output path',default="./")

parser.add_argument('--numpy-memmap', help='convert to numpy and memmap for fast access', action='store_true')

_StoreTrueAction(option_strings=['--numpy-memmap'], dest='numpy_memmap', nargs=0, const=True, default=False, type=None, choices=None, required=False, help='convert to numpy and memmap for fast access', metavar=None)

In [5]:
args = parser.parse_args([
    # '--mimic-path',
    '--zip-path', 'D:\datasets\MIMIC-IV-ECG-DEMO\mimic-iv-ecg-diagnostic-electrocardiogram-matched-subset-1.0.zip', 
    '--target-path', 'D:\datasets\MIMIC-IV-ECG-DEMO', 
    '--numpy-memmap'
])

In [6]:
mimic_path = Path(args.mimic_path)
zip_file_path = Path(args.zip_path)
target_path = Path(args.target_path)

numpy_memmap = args.numpy_memmap

In [7]:
print("mimic_path",mimic_path)
print("zip_file_path",zip_file_path)
print("target_path",target_path)

print('np memmap', numpy_memmap)

mimic_path mimic
zip_file_path D:\datasets\MIMIC-IV-ECG-DEMO\mimic-iv-ecg-diagnostic-electrocardiogram-matched-subset-1.0.zip
target_path D:\datasets\MIMIC-IV-ECG-DEMO
np memmap True

# step i

# step ii

# step iii

# step iv
assumindo q os steps i~iii so geram o records_w_diag_icd10.csv, q eu ja tenho

In [8]:
print("Step 4: Convert signals into numpy in  target-path/processed")
(target_path/"processed").mkdir(parents=True, exist_ok=True)
df, lbl_itos, mean, std = prepare_mimicecg(zip_file_path, target_folder=target_path/"processed")

Step 4: Convert signals into numpy in  target-path/processed

  0%|          | 0/795 [00:00<?, ?it/s]

In [9]:
lbl_itos, mean.shape, mean, std.shape, std

([],
 (12,),
 array([ 0.02234395,  0.0096988 , -0.02103584, -0.00543249, -0.0015773 ,
         0.01198231,  0.01950381,  0.01942476, -0.01186351, -0.01652261,
         0.01618766, -0.00192103]),
 (12,),
 array([0.14511738, 0.14365031, 0.17177061, 0.22615974, 0.2556636 ,
        0.21258073, 0.18797287, 0.16898865, 0.14945083, 0.12057124,
        0.12942526, 0.12660885]))

In [10]:
df

,data,study_id,subject_id,ecg_time,nans,data_mean,data_std,data_length
0,p10000032_s40689238.npy,40689238,10000032,2180-07-23 08:44:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.009630408, 0.03532677, -0.031451873, 0.0088...","[0.07281055, 0.14797975, 0.18792532, 0.2302735...",1000
1,p10000032_s44458630.npy,44458630,10000032,2180-07-23 09:54:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[-0.007518341, 0.045326464, -0.02693991, 0.007...","[0.114887014, 0.14187548, 0.17410673, 0.177733...",1000
2,p10000032_s49036311.npy,49036311,10000032,2180-08-06 09:07:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.007997059, 0.026460905, -0.024007669, 0.052...","[0.051840633, 0.13998532, 0.2794175, 0.2821058...",1000
3,p10000117_s45090959.npy,45090959,10000117,2181-03-04 17:14:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.010465137, 0.021142757, -0.013826905, -0.00...","[0.048036855, 0.11462162, 0.08904317, 0.133164...",1000
4,p10000117_s48446569.npy,48446569,10000117,2183-09-18 13:52:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[-0.008585625, -0.0035980744, 0.003333508, -0....","[0.024164824, 0.10800167, 0.07431362, 0.105761...",1000
...,...,...,...,...,...,...,...,...
790,p10009686_s41379519.npy,41379519,10009686,2164-04-30 12:29:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.0049298843, -0.0035996183, -0.011467277, 0....","[0.11335932, 0.10138872, 0.10931915, 0.2127690...",1000
791,p10009686_s44044511.npy,44044511,10009686,2164-05-02 09:04:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.013910966, -0.0037329637, 0.0061497223, 0.0...","[0.06650935, 0.099379614, 0.14572562, 0.298641...",1000
792,p10009686_s46775392.npy,46775392,10009686,2164-05-03 09:13:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.030772705, 0.02515413, -0.006054813, 0.0431...","[0.10609463, 0.099044584, 0.10871392, 0.244746...",1000
793,p10009686_s47230643.npy,47230643,10009686,2164-05-02 05:04:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.0053111403, -0.012775824, 0.01968723, 0.059...","[0.059656657, 0.10166188, 0.1414776, 0.2909714...",1000
794,p10009686_s47268718.npy,47268718,10009686,2164-04-30 08:39:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.021238178, 0.025680108, -0.011482546, 0.033...","[0.08496066, 0.11214662, 0.10279158, 0.2077692...",1000

In [11]:
df['data_mean'].loc[0].shape, df['data_mean'].loc[0]

((12,),
 array([ 0.00963041,  0.03532677, -0.03145187,  0.00883729,  0.09649605,
         0.10779519,  0.04681917,  0.09716997,  0.01069973, -0.02510957,
         0.00718452,  0.01794708], dtype=float32))

In [12]:
len(df['nans'].loc[0]), df['nans'].loc[0]

(12,
 [np.int64(0),
  np.int64(0),
  np.int64(0),
  np.int64(0),
  np.int64(0),
  np.int64(0),
  np.int64(0),
  np.int64(0),
  np.int64(0),
  np.int64(0),
  np.int64(0),
  np.int64(0)])

In [13]:
np.unique(df['data_length'].values)

array([1000])

In [14]:
sample = np.load(target_path/"processed"/'p10000032_s40689238.npy')
sample.shape, sample

((1000, 12),
 array([[-0.09837415,  0.0040777 ,  0.03046388, ...,  0.04445874,
         -0.09066422,  0.04723709],
        [-0.18345611,  0.00055867,  0.05727838, ...,  0.08668837,
         -0.16741537,  0.08054018],
        [-0.15595649, -0.00672389,  0.05648892, ...,  0.0778864 ,
         -0.13521639,  0.05970294],
        ...,
        [-0.04743117,  0.01431794,  0.00432345, ...,  0.01255923,
         -0.03838612,  0.02627621],
        [-0.04562546,  0.00911508,  0.00025077, ...,  0.01491976,
         -0.03564794,  0.02058002],
        [-0.0544023 ,  0.00960257, -0.00634238, ...,  0.01917305,
         -0.04313236,  0.02404554]], dtype=float32))

# step v

In [15]:
print("Step 5: Reformat as memmap for fast access")
(target_path/"memmap").mkdir(parents=True, exist_ok=True)
df_mapped = reformat_as_memmap(df, target_path/"memmap/memmap.npy", data_folder=target_path/"processed", annotation=False, max_len=0, delete_npys=False, col_data="data",col_lbl=None, batch_length=0, skip_export_signals=False)

Step 5: Reformat as memmap for fast access

  0%|          | 0/795 [00:00<?, ?it/s]

In [16]:
df_mapped

,data,study_id,subject_id,ecg_time,nans,data_mean,data_std,data_length,data_original
0,0,40689238,10000032,2180-07-23 08:44:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.009630408, 0.03532677, -0.031451873, 0.0088...","[0.07281055, 0.14797975, 0.18792532, 0.2302735...",1000,p10000032_s40689238.npy
1,1,44458630,10000032,2180-07-23 09:54:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[-0.007518341, 0.045326464, -0.02693991, 0.007...","[0.114887014, 0.14187548, 0.17410673, 0.177733...",1000,p10000032_s44458630.npy
2,2,49036311,10000032,2180-08-06 09:07:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.007997059, 0.026460905, -0.024007669, 0.052...","[0.051840633, 0.13998532, 0.2794175, 0.2821058...",1000,p10000032_s49036311.npy
3,3,45090959,10000117,2181-03-04 17:14:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.010465137, 0.021142757, -0.013826905, -0.00...","[0.048036855, 0.11462162, 0.08904317, 0.133164...",1000,p10000117_s45090959.npy
4,4,48446569,10000117,2183-09-18 13:52:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[-0.008585625, -0.0035980744, 0.003333508, -0....","[0.024164824, 0.10800167, 0.07431362, 0.105761...",1000,p10000117_s48446569.npy
...,...,...,...,...,...,...,...,...,...
790,790,41379519,10009686,2164-04-30 12:29:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.0049298843, -0.0035996183, -0.011467277, 0....","[0.11335932, 0.10138872, 0.10931915, 0.2127690...",1000,p10009686_s41379519.npy
791,791,44044511,10009686,2164-05-02 09:04:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.013910966, -0.0037329637, 0.0061497223, 0.0...","[0.06650935, 0.099379614, 0.14572562, 0.298641...",1000,p10009686_s44044511.npy
792,792,46775392,10009686,2164-05-03 09:13:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.030772705, 0.02515413, -0.006054813, 0.0431...","[0.10609463, 0.099044584, 0.10871392, 0.244746...",1000,p10009686_s46775392.npy
793,793,47230643,10009686,2164-05-02 05:04:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.0053111403, -0.012775824, 0.01968723, 0.059...","[0.059656657, 0.10166188, 0.1414776, 0.2909714...",1000,p10009686_s47230643.npy
794,794,47268718,10009686,2164-04-30 08:39:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0.021238178, 0.025680108, -0.011482546, 0.033...","[0.08496066, 0.11214662, 0.10279158, 0.2077692...",1000,p10009686_s47268718.npy